/* remove default padding */
@tailwind base;
@tailwind components;
@tailwind utilities;

.bold{
  font-weight: bold;
}

:root {
  --primary-color: #8B0000;
  --primary-light: #a40000;
  --primary-dark: #700000;
  --primary-color-dark: #014da4;
  --secondary-color: #6c757d;
  --background-color: #f8fafc;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --border-color: #e8e8e8;
  --danger-color-dark: #8e0e1b;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --error-color: #e74c3c;
  --text-muted: #7f8c8d;
   --text-color: #34495e;
  --success-color: #27ae60;
}

* {
  margin: 0;
  padding: 0;
}

